# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
*.egg
.eggs/

# Project artifacts
*.exe
*.spec
hook-inputhook.py

# Tools
.mypy_cache/
.pytest_cache/
.tox/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
